.principal {
    display: flex;
    height: 620px;
    flex-direction: column;
    background-color:#D5D8DC;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.headContainer {
    display: flex;
    flex-direction: column;
}

#menu {
    height: 50px;
    background-color:#85929E;
}

#headMenu {
    margin: 150px;
}

#personalDate {
    display: flex;
    height: 130px;
    flex-direction: row;
    justify-content: space-around;
}

#headInformation1 {
    width: 200px;
}

#headInformation2 {
    display: flex;
    width: 600px;
    flex-direction: column;     
}

#nEt {
    display: flex;
    padding: 10px;
    flex: 1;
    line-height: 0;   
}

.bodyContainer {
    display: flex;
    flex-direction: row;
 }

#skills {
    display: flex;
    flex: 3;
    height: 400px;
    align-items:end;
    text-align:justify;
}

.personalInformation {
    display: flex;
    flex: 5;
    flex-direction: column;
    margin: 3%;
}

#pI {
    display: flex;
    padding: 4%;
    text-align:justify;
    height: 75px;
    align-items:flex-start;
}

.pIc{
 margin-top: -30px;
}

.formContainer {
    display: flex;
    flex-direction: row;
    height: 550px;
}


#form {
    flex: 3;
    text-align: center;
    padding: 20px;
}

#footer1{
    position: relative;
    right: 100px;
}

#footer2{
    position: relative;
    left: 90px;
}
