.principal {
    display: flex;
    height: 620px;
    flex-direction: column;
}

.headContainer {
    display: flex;
    flex-direction: column;
}

#menu {
    height: 50px;
    background-color:#1dc674;
}

#headMenu {
    margin: 150px;
}

#personalDate {
    display: flex;
    height: 130px;
    flex-direction: row;
    justify-content: space-around;
}

#headInformation1 {
    width: 200px;
}

#headInformation2 {
    display: flex;
    width: 600px;
    flex-direction: column;     
}

#nEt {
    display: flex;
    padding: 10px;
    flex: 1;
    line-height: 0;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
 }

#skills {
    display: flex;
    flex: 3;
    height: 380px;
    align-items:end;
    text-align:justify;
}

.personalInformation {
    display: flex;
    flex: 5;
    flex-direction: column;
    margin: 3%;
}

#pI {
    padding: 4%;
}

.formContainer {
    display: flex;
    flex-direction: row;
    height: 550px;
    background-color: #a4fee4;
}

#photo {
    border-style: dashed;
    flex: 2;
}

#form {
    border-style: double;
    flex: 3;
    text-align: center;
    padding: 20px;
}

form {
    text-align: center;
}
